@(myform: Form[(String,String)])(implicit request: RequestHeader)

@implicitFieldConstructor = @{ FieldConstructor(_formhelpers.f) }

@import helper._

@title = {
  Login
}

@main(title, nav = "login") {
  <script>
    $(document).ready(function(){
      $("form").submit(function() {
        $email = $("#email").val();
        if($email.search("@@") == -1){
          $("#email").val($email+"@@carmeq.com");
        }
      });
    });
  </script>

<form action="@routes.Auth.authenticate" method="POST" class="form-horizontal" >

  <div class="alerts">
    @myform.globalError.map { error =>
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert" href="#">x</a>
      @error.message
    </div>
    }
  </div>

  <fieldset>
    @inputText(
    myform("email"),
    '_label -> "Email"
    )
    @inputPassword(
    myform("password"),
    '_label -> "Password"
    )
  </fieldset>

  <div class="form-actions">
   <input type="submit" id="loginbutton" class="btn primary" value="Login">
   <a href="@routes.Application.index" class="btn">Cancel</a>
  </div>

</form>
}



