@(myform: Form[(String,String)])(implicit request: RequestHeader)

@import helper._
@import helper.twitterBootstrap._

@title = {
  Login
}

@main(title, nav = "login") {
  <script>
    $(document).ready(function(){
      $("form").submit(function() {
        $email = $("#email").val();
        if($email.search("@@") == -1){
          $("#email").val($email+"@@carmeq.com");
        }
      });
    });
  </script>
  

  @helper.form(routes.Auth.authenticate) {


  <div class="alerts">
  @myform.globalError.map { error =>
  <div class="alert-message error">
    <a class="close" href="#">x</a>
    <p>@error.message</p>
  </div>
</div>
  }

  @inputText(
  myform("email"),
  '_label -> "Email"
  )
  @inputPassword(
  myform("password"),
  '_label -> "Password"
  )

  <div class="actions">
   <input type="submit" id="loginbutton" class="btn primary" value="Login">
   <a href="@routes.Application.index" class="btn">Cancel</a>
  </div>

}
  }

  
