@(myform: Form[(String,String)])(implicit request: RequestHeader)

@implicitFieldConstructor = @{ FieldConstructor(templates.formhelper.f) }

@import helper._

@title = {
  Lost password
}

@main(title, nav = "login") {
<div class="span12">
  <form action="@routes.Auth.passwordLost" method="POST" class="form-horizontal" >
    <div class="alerts">
      @myform.globalError.map { error =>
      <div class="alert alert-error">
        <a class="close" data-dismiss="alert" href="#">x</a>
        @error.message
      </div>
      }
    </div>

    <fieldset>
      @inputText(
      myform("email"),
      '_label -> "Email",
      '_help -> ""
      )
    </fieldset>

    <div class="form-actions">
      <input type="submit" id="loginbutton" class="btn primary" value="Login" />
      <a href="@routes.Application.index" class="btn">Cancel</a>
    </div>

  </form>
</div>
}



