@(user: User)(implicit request: RequestHeader)

@main(Html("Account information"), nav = "account") {
<script>
  $(document).ready(function() {
    $("#gravatar").html(function(index,html) {
      return "<img style=\"margin-top:-8px;margin-right:4px; border: 1px dotted;\" src=\"http://www.gravatar.com/avatar/"+hex_md5($(this).text())+"?s=118\" />";
    });
  });

</script>
<table>
  <tr><td><span id="gravatar">@user.email</span></td><td>
<h6>Name</h6>
<p>
@user.firstname @user.lastname
</p>

<h6>Email</h6>
<p>
@user.email
</p>

<h6>Mobile phone</h6>
<p>
@user.cellphone
</p>
</td>
</tr>
</table>
}
