@(signupForm: Form[User])(implicit request: RequestHeader)

@import helper._
@import helper.twitterBootstrap._

@title = {
    Sign Up
}

@main(title, nav = "signup") {

<script type="text/javascript">
  tr = {"ä":"ae", "ü":"ue", "ö":"oe", "ß":"ss" }
  $(document).ready(function(){
    //$("#username").attr("disabled", "disabled");
    $("#firstname,#lastname").keyup(function() {
      $("#email").val(
        $("#firstname").val().toLowerCase().replace(/[äöüß]/g, function($0) { return tr[$0] })
        + "."
        + $("#lastname").val().toLowerCase().replace(/[äöüß]/g, function($0) { return tr[$0] })
        + "@@carmeq.com"
      );
    });
  });
</script>

@helper.form(action = routes.Auth.submit) {

<fieldset>
  <legend>Account information</legend>

  @inputText(
  signupForm("firstname"),
  '_label -> "Firstname",
  '_error -> signupForm.error("firstname")
  )

  @inputText(
  signupForm("lastname"),
  '_label -> "Lastname",
  '_error -> signupForm.error("lastname")
  )

  @inputText(
  signupForm("email"), 
  '_label -> "Email",
  '_help -> "Enter a valid email address.",	
  '_error -> signupForm.globalError
  )

  @inputText(
  signupForm("cellphone"), 
  '_label -> "Cellphone",
  '_help -> "Enter a valid german cellphone number.",	
  '_error -> signupForm.error("cellphone")
  )

  @inputPassword(
  signupForm("password.main"),
  '_label -> "Password",
  '_help -> "A password must be at least 6 characters. "
  )

  @inputPassword(
  signupForm("password.confirm"), 
  '_label -> "Repeat password",
  '_help -> "Please repeat your password again.",
  '_error -> signupForm.error("password")
  )

</fieldset>

<div class="actions">
  <input type="submit" id="registerbutton" class="btn primary" value="Sign Up">
  <a href="@routes.Application.index" class="btn">Cancel</a>
</div>

}

}
