@(tours: List[Tour])(implicit request: RequestHeader)

@import helper._

@title = { My Tours }
@main(title,nav="mytours") {
<script type="text/javascript">
  $(document).ready(function() {
      $('#tourlist').dataTable( {
        "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>"
        } );
      $.extend( $.fn.dataTableExt.oStdClasses, {
        "sWrapper": "dataTables_wrapper form-inline"
        } );

      });
</script>


<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" style="display:none" id="tourlist">
  <caption>
  </caption>
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Date</th>
      <th>Departure time</th>
      <th>Arrival time</th>
      <th>Meeting point</th>
      <th>Comment</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @tours.map { tour =>
    <tr>
      <td>@tour.dep_location</td>
      <td>@tour.arr_location</td>
      <td>@tour.date</td>
      <td>@tour.departure</td>
      <td>@tour.arrival</td>
      <td>@tour.meetingpoint</td>
      <td>@tour.comment</td>
      <td><a href="/edit/u.username"><i class="icon-edit"></i></a> <a href="/delete/u.username"><i class="icon-remove"></i></a></td>
    </tr>
    }
  </tbody>
</table>
<p></p>
<a class="btn btn-info" href="@routes.Tours.newTour">Create new tour</a>

}
