@(towns: List[Town], townForm: Form[String])(implicit request: RequestHeader)

@import helper._

@title = {
 Eine Neue Tour planen
 }

@main(title) {
@request.session.get("firstname").map{ login =>
        <h2>Hallo @login, </h2>
        <h2>wo bist du gerade?</h2>
        }
  <div class="number_container"> 
       1.
	<div class="loader_rect" id="rect_1">
</div>
  <select  name="dep_town" size=40 class="number-container_select">
        @towns.map { town =>
            <option>
                @town.name
            </option>
        }
    </select>
    </div>
}
