@(active_tours: List[(Int, String, String, String, java.util.Date, java.util.Date, Int, List[User], Int)],
  tour_templates: List[(String, String, String, java.util.Date, java.util.Date)],
  avail_tours: List[(Int, String, String, String, java.util.Date, java.util.Date, Int, List[User], Int)],
towns:List[Town],locations: List[Location])(implicit request: RequestHeader)

@implicitFieldConstructor = @{ FieldConstructor(templates.formhelper.f) }

@import helper._

@title = {
Plan a new tour
}
@main(title,nav="newtour") {
<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/jquery.timepicker.css")">
<script src="@routes.Assets.at("js/jquery.timepicker.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/tablefilter_all_min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/bootstrap-tooltip.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("js/bootstrap-popover.js")" type="text/javascript"></script>

<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDbuLn6X-MuK9PnJtt7bF84PoPypXQN53U&sensor=true" type="text/javascript"></script>

<script>
  var googleest;

  var loa = [
    @locations.map { l =>
      {'id': @l.id, 'name': "@l.name", 'address': "@l.address", 'town_id': "@l.town_id" },
    }
    ]



  function getGoogleDistance() {
    var service = new google.maps.DistanceMatrixService();

    var depl = loa.filter(function (l) { return l.id == $("#dep_location option:selected").val()})[0].address;
    var arrl = loa.filter(function (l) { return l.id == $("#arr_location option:selected").val()})[0].address;

    service.getDistanceMatrix(
    {
      origins: [depl],
      destinations: [arrl],
      travelMode: google.maps.TravelMode.DRIVING,
      avoidHighways: false,
      avoidTolls: false
    }, distcallback);
  }

  function distcallback(response, status) {
    if (status == google.maps.DistanceMatrixStatus.OK) {
      googleest = response.rows[0].elements[0].duration.value;
      updateEstimate();
    }
    else {
      alert('problem');
    }
  }

  function updateEstimate() {
    var est = $("#timepicker").val().split(":");
    var d = $('#datepicker').val().split(".");

    var odate = new Date(d[2],d[1]-1,d[0],est[0],est[1]);
    var gdate = Math.ceil(googleest/60);
    $('#date').val(odate.getTime());

    var txt = "estimated Arrival";
    if ($("#time-toggle").find('.active').text() == "Arr") {
      txt = "calculated Departure";
      $('#arrival').val(odate.getTime());
      odate.setMinutes(odate.getMinutes()-gdate);
      $('#departure').val(odate.getTime());
    } else {
      $('#departure').val(odate.getTime());
      odate.setMinutes(odate.getMinutes()+gdate);
      $('#arrival').val(odate.getTime());
    }
    $("#time-estimate").text(txt+": "+pad(odate.getHours())+":"+pad(odate.getMinutes()));
  }

  $(document).ready(function() {

    // Pretty table
    setFilterGrid("tourlist",1,{
      base_path:"/assets/css/",
      on_keyup:true,
      on_keyup_delay:0,
      highlight_keywords: true,
      slc_filling_method: "innerHTML",
      col_0:"select",
      col_5:"none",
      col_6:"none"
    });

    $("#tourlist").dataTable({
      "bPaginate": false,
      "bFilter": false,
      "bInfo": false,
      "aaSorting": []
    });

    $(".modtime").each(function() {
      var elems = $(this).text().split(" - ");
      var se1 = elems[0].split(":");
      var se2 = elems[1].split(":");
      $(this).text(pad(se1[0])+":"+pad(se1[1])+" - "+pad(se2[0])+":"+pad(se2[1])  );
    });
    $('.passenger').popover({placement:"top"});
    $('.passenger').prepend(function(index,html) {
      return "<img src=\"http://www.gravatar.com/avatar/"+hex_md5($(this).attr('email'))+"?s=16\" />";
    });
    $('.statusicon').popover({placement:"top"});
    $('.legend').popover({placement:"bottom"});

    // Date- and Timepicker
    var now = new Date();
    var now_f = pad(now.getDate()) + "." + pad(now.getMonth()+1) + "." + now.getFullYear();
    $('.datepicker').val(now_f);

    now.setMinutes(now.getMinutes()+30);
    $('#timepicker').val(  round_tr(now.getHours(), now.getMinutes()) );
    $('#timepicker').timepicker({ 'scrollDefaultNow': true, 'timeFormat': "H:i" });


    // change and click functions
    $('#city').change(function() {
      var valu = $('#city').val();
      $('#dep_location option').remove();
      $('#arr_location option').remove();

      loa.forEach(function(l) {
        if(l.town_id == valu) {
          if(l.name == "Hauptbahnhof")
            $('#dep_location').append(new Option(l.name,l.id,true,true));
          else
            $('#dep_location').append(new Option(l.name,l.id));
          $('#arr_location').append(new Option(l.name,l.id));
        }
      });
      $('#arr_location option')[0].setAttribute("selected","selected");
      getGoogleDistance();

    });
    $("#dep_location").change(function() {getGoogleDistance(); });
    $("#arr_location").change(function() {getGoogleDistance(); });

    $("#arrbtn").click(function() {updateEstimate(); });
    $("#depbtn").click(function() {updateEstimate(); });
    $("#timepicker").change(function() {updateEstimate(); });

    // datepicker-dealy
    $(".datebtn").click(function() {
      $("#datepicker").val(
      pad(now.getDate()+parseInt($(this).attr("offset"))) + "." + pad(now.getMonth()+1) + "." + now.getFullYear()
      );
      $(".datebtn").removeClass("active");
      $(this).addClass("active");
    });
    $("#datepicker").change(function() {
      $(".datebtn").removeClass("active");
    });

    $('#city').change();

    $("#createForm").submit(function() {
      updateEstimate();
    });

    // Template creation stuff
    $(".tour_template a").click(function (e) {
      e.preventDefault();

      $("#dep_location option").attr("selected", false);
      $("#arr_location option").attr("selected", false);

      $('#createModal').modal('show');
      var row = $(this).parent().parent().children("td");
      $("#city option").filter(function () { return this.text == row[0].textContent; }).attr("selected", true);
      $('#city').change();
      $("#dep_location option[class=town_"+$('#city').val()+"]").filter(function () {
        return this.text == row[1].textContent;
      }).attr("selected", true);
      $("#arr_location option[class=town_"+$('#city').val()+"]").filter(function () {
        return this.text == row[2].textContent;
      }).attr("selected", true);

      var rowtime = row[3].textContent.split(" - ")[0]
      var now = new Date();
      if(now.getHours() > parseInt(rowtime.split(":")[0]) || ( now.getHours() == parseInt(rowtime.split(":")[0]) && now.getMinutes() >= parseInt(rowtime.split(":")[1])))
      {
        var now_f = pad(now.getDate()+1) + "." + pad(now.getMonth()+1) + "." + now.getFullYear();
        $("#datepicker").val(now_f);
      }
      $("#timepicker").val(rowtime);

      return false;

    });
  });

</script>
<style>
  .flt {
    width:auto;
    margin: -8px 0 -5px -5px;
  }
</style>

<div class="row">
  <span class="span6" style="padding-top:5px;padding-left:5px;">
    <span class="legend" rel="popover" data-content="These are the tours you are currently planning on participating in." data-original-title="My Tours">
      <div class="tour_active colour_box">    </div> - My Tours.
    </span>
    <span class="legend" rel="popover" data-content="These 5 tours are either predetermined templates to give some often used tours for fast creating.
      Or they are your personal favorites, determined by your previous tours, you are able to reset these in your profile settings." data-original-title="Favorite Tours">
      <div class="tour_template colour_box">    </div> - Favorite Tours.
    </span>
    <span class="legend" rel="popover" data-content="These are tours planned by other users. You are able to join these tours." data-original-title="Available Tours">
      <div class="colour_box">    </div> - Available Tours.
    </span>
  </span>
  <span class="span6" align="right" style="margin-left:20px; margin-bottom:2px;">
      <a class="btn btn-info" data-toggle="modal" href="#createModal" >Add tour</a>
  </span>

</div>

<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered tablesorter"  id="tourlist">
  <caption>
  </caption>
  <thead>
    <tr>
      <th>City</th>
      <th>From</th>
      <th>To</th>
      <th>Time</th>
      <th>Passengers</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @active_tours.map { tour =>
    <tr class="tour_active">
      <td>@tour._2</td>
      <td>@tour._3</td>
      <td>@tour._4</td>
      <td><span class="modtime">@tour._5.getHours:@tour._5.getMinutes - @tour._6.getHours:@tour._6.getMinutes</span> (@tour._5.getDate.@(tour._5.getMonth + 1).@(tour._5.getYear + 1900))</td>
      <td>@tour._8.map { u =>
        @if(u.id == tour._7) {
        <span class="mod" style="font-weight:bold;">
        } else {
        <span>
        }
        <span class="passenger" style="border-bottom: 1px black dotted;" rel="popover" data-content="Email: @u.email<br />Phone: @u.cellphone<br />Ext.: @u.extension" data-original-title="@u.firstname @u.lastname" email="@u.email">@u.firstname</span>
        </span>
        }
      </td>
      <td>
        <span class="status">@if(tour._9 == 1) {
          <span class="statusicon" rel="popover" data-content="This tour state is still pending. We will try to confirm the tour 30min before it is supposed to start." data-original-title="Pending"><a class="icon-question-sign"></a></span>
          }
          @if(tour._9 == 2) {
          <span class="statusicon" rel="popover" data-content="This tour has been confirmed." data-original-title="Booked"><a class="icon-ok"></a></span>
          }
          @if(tour._9 == 3) {
          <span class="statusicon" rel="popover" data-content="This tour has been cancelled. It will NOT take place." data-original-title="Cancelled"><a class="icon-warning-sign"></a></span>
          }
        </span>
      </td>
      <td>
        <a href="/tour/@tour._1/leave"><span class="btn btn-mini">leave</span></a></td>
    </tr>
    }
    @tour_templates.map { tour =>
    <tr class="tour_template">
      <td>@tour._1</td>
      <td>@tour._2</td>
      <td>@tour._3</td>
      <td class="modtime">@tour._4.getHours:@tour._4.getMinutes - @tour._5.getHours:@tour._5.getMinutes</td>
      <td>-</td>
      <td>-</td>
      <td><a href="" class="btn btn-mini">create</a></td>
    </tr>
    }

    @avail_tours.map { tour =>
    <tr class="tour">
      <td>@tour._2</td>
      <td>@tour._3</td>
      <td>@tour._4</td>
      <td><span class="modtime">@tour._5.getHours:@tour._5.getMinutes - @tour._6.getHours:@tour._6.getMinutes</span> (@tour._5.getDate.@(tour._5.getMonth + 1).@(tour._5.getYear + 1900))</td>
      <td>@tour._8.map { u =>
        @if(u.id == tour._7) {
        <span class="mod" style="font-weight:bold;">
        } else {
        <span>
        }
        <span class="passenger" style="border-bottom: 1px black dotted;" rel="popover" data-content="Email: @u.email<br />Phone: @u.cellphone<br />Ext.: @u.extension" data-original-title="@u.firstname @u.lastname" email="@u.email">@u.firstname</span>
        </span>
        }
      </td>
      <td>
        <span class="status">@if(tour._9 == 1) {
          <span class="statusicon" rel="popover" data-content="This tour state is still pending.  We will try to confirm the tour 30min before it is supposed to start." data-original-title="Pending"><a class="icon-question-sign"></a></span>
          }
          @if(tour._9 == 2) {
          <span class="statusicon" rel="popover" data-content="This tour has been confirmed, therefore a taxi will be waiting." data-original-title="Booked"><a class="icon-ok"></a></span>
          }
          @if(tour._9 == 3) {
          <span class="statusicon" rel="popover" data-content="This tour has been cancelled. Which means, a taxi has not been ordered, maybe another passenger than the initiator will call a taxi and confirm this. If that happens, the status will be changed." data-original-title="Cancelled"><a class="icon-warning-sign"></a></span>
          }
        </span>
      </td>
      <td><a href="/tour/@tour._1/join"><div class="btn btn-mini">join</div></a></td>
    </tr>
    }
  </tbody>
</table>

<form name="createForm" id="createForm" class="form-horizontal" action="/tours" method="POST">
  <div class="modal hide" id="createModal">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3>Create a new tour</h3>
    </div>

    <div class="modal-body">
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="city">City</label>
          <div class="controls">
            <select name="city" id="city">
              @towns.map { t =>
              <option value="@t.id">@t.name</option>
              }
            </select>
            <span class="help-inline"></span>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="dep_location">From</label>
          <div class="controls">
            <select name="dep_location" id="dep_location">
            </select>
            <span class="help-inline"></span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="arr_location">To</label>
          <div class="controls">
            <select name="arr_location" id="arr_location">
            </select>
            <span class="help-inline"></span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="datepicker">Date</label>
          <div class="controls">
            <div class="input-append">
              <input type="text" id="datepicker" class="datepicker" name="datepicker" style="width:6em;" value/>
              <button class="btn datebtn active" offset="0" type="button" id="todaybtn">today</button>
              <button class="btn datebtn" offset="1" type="button" id="plus1btn">+1</button>
              <button class="btn datebtn" offset="2" type="button" id="plus2btn">+2</button>
              <span class="help-inline"></span>
            </div>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="timepicker">Time</label>
          <div class="controls">
            <input type="text" id="timepicker" name="timepicker" style="display:inline;width:4em;" />
            <div class="btn-group" data-toggle="buttons-radio" id="time-toggle" style="display:inline;">
              <div class="btn active" id="depbtn">Dep</div>
              <div class="btn" id="arrbtn">Arr</div>
            </div><br />
            <span class="help-inline"><span id="time-estimate"></span></span>
          </div>
        </div>
        <input type="hidden" id="departure" name="departure" />
        <input type="hidden" id="arrival" name="arrival" />
        <input type="hidden" id="date" name="date" />
      </fieldset>
    <br />
    <br />
    <br />
    <br />
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      <button type="submit" href="#" class="btn btn-primary" name="submit" id="submit">Create tour</button>
    </div>
  </div>
</form>

}

